{% include "header.html" %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
		<h2 class="ui header">
		  <img src="{{ defaults.images }}/logo_main.png">
		  <div class="content">
		    <div class="sub header">Ўзбекистон "Адолат"<br> социал-демократик партияси</div>
		  </div>
		</h2>
        {% if error != '' or sys.error != '' %}
            <div class="ui left aligned small error message close">
                <i class="close icon"></i>
                <div class="ui left aligned header">
                    {{ error }} {{ sys.error }}
                </div>
            </div>
        {% endif %}
		<div class="ui icon info message">
			<i class="key icon"></i>
			<div class="content">
			    <div class="header">
			      	Тасдиқлаш код юборилди.
			    </div>	
		  		{% if dl == 1 %}
		    		<p>Тасдиқлаш код электрон почтага юборилди</p>
		    	{% endif %}
		    	{% if dl == 2 %}
		    		<p>Тасдиқлаш код Телеграмга юборилди</p>
		    	{% endif %}
			 </div>
		</div>       
        <form class="ui form" method="post">
            <div class="ui secondary blue segment">
                <h2 class="ui left aligned header">Икки босқичли тизимга кириш</h2>
                <div class="field">
                	<label><i class="user icon"></i> Логин</label>
                    <div class="ui input ">
                        <input type="text" disabled="true" name="login" readonly="true" value="{{ login }}">
                    </div>
                </div>
                <div class="field">
                	<label><i class="key icon"></i> Тасдиқлаш коди</label>
                    <div class="ui icon input">
                        <input type="text" name="code" placeholder="Тасдиқлаш коди">
                    </div>
                </div>
                <a class="ui left floated blue button" href="/login">Орқага</a>
                <button class="ui right floated blue submit button" type="submit">Кириш</button>
                <div class="field"></div>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{% include "footer.html" %}