{% include "header.html" %}
{% include "topmenu.html" %}
<div class="main container">
	<form id="form_filter" method="POST">
		<input type="hidden" name="function" value="setFilter">
		<input type="hidden" name="page" id="page" value="{{ filter.page }}">
	    <div class="ui secondary stackable menu">
	        <div class="item">
	            <h4 class="ui header azolar">{{ kname }} Кенгаши тугатилган БПТ рўйхати</h4>
	            <div class="results"></div>
	        </div>
	        {% if role == 2 %}
	        <div class="right menu">
	            <div class="item">
	                <label>Кенгаш</label>
	            </div>
	            <div class="item">
	            	<div class="ui input focus">
	                    <div class="ui selection dropdown" id="dis">
	                        <input name="dis" type="hidden" value="{{ filter.tcode }}">
	                        <i class="dropdown icon"></i>
	                        <div class="default text">Кенгашни танланг</div>
	                        <div class="menu">
	                            <div class="item" data-value="0">Барчаси</div> 
	                            <div class="divider"></div>  
	                            {% for dis in dis %}
	                                <div class="item" data-value="{{ loop.index }}">{{ dis.name }}</div>
	                            {% endfor %}
	                        </div>
	                    </div>       
	                </div>        
	            </div>
	        </div>
	        {% endif %}

	        {% if role == 1 %}
	        <div class="right menu">
	            <div class="item">
	                <label>Кенгаш</label>
	            </div>
	            <div class="item">
		            <div class="ui input">
			            <div class="ui selection dropdown" id="regions">
			                <input type="hidden" name="regions" value="{{ filter.kcode }}">
			                <i class="dropdown icon"></i>
			                <div class="default text">Вилоятини танланг</div>
			                <div class="menu">
			                	<div class="item" data-value="0">Барчаси</div>
			                    {% for regions in regions %}
			                        <div class="item" data-value="{{ regions.code }}">{{ regions.name }}</div>
			                   	{% endfor %}                               
			                </div>
			            </div>
			        </div>    
		        </div>
	        </div>
	        {% endif %}
	    </div>   

	    <div class="ui inverted green stackable menu">            
	        <div class="item desktop"><i class="print icon"></i>Чоп қилиш</div>
	        <div class="item export" data-file="Тугатилган БПТ рўйхати" data-export="bpt_table"><i class="file excel outline icon"></i>Экспорт</div>
	        <div class="right item">
	            <div class="ui icon input">
	                <input placeholder="Излаш..." type="text"><i class="search icon"></i>
	            </div>
	        </div>
	    </div>   
	    {% include "message.html" %}   
		{% if (bpt != null) %}	
	        <table class="ui small blue celled table" id="bpt_table">
	            <thead>
	                <tr class="center aligned">
	                    <th>№</th>
	                    <th>Тугатилган санаси</th>
	                    <th>Тугатилиш сабаби</th>                    
	                    <th>Бошланғич партия ташкилоти номи</th>
	                    <th>Туман (шаҳар) Кенгаши номи</th>
	                    <th>Бошланғич партия ташкилоти жойлфшган жойи</th>
	                    <th>Бошланғич партия ташкилоти гувоҳнома рақами</th>
	                    <th>Бошланғич партия ташкилоти жойлашган манзил</th>
	                    <th>Бошланғич партия ташкилоти ташкил топган сана</th>  
	                    {% if role == 1 %}

	                    <th>Бошқарув ускуналари</th>

	                    {% endif %}    

	                </tr>
	            </thead>    
	            <tbody>
	                {% for bpt in bpt %}
	                <tr class="center aligned">
	                    <td>{{ loop.index }}</td>
	                    <td>{{ bpt.bpttdatetime }}</td>
	                    <td>{{ bpt.bptts }}</td>
	                    <td>{{ bpt.bptname }}</td>
	                    <td>{{ bpt.bpt_kcode }}</td>
	                    <td>{{ bpt.bptjj }}</td>
	                    <td>{{ bpt.bptgr_full}}</td>
	                    <td>{{ bpt.bptjman }}</td>
	                    <td>{{ bpt.bptosana }}</td>
	                    {% if role == 1 %}

	                    <td class="two wide">

	                        <div
	                            data-bptname="{{ bpt.bptname }}"

	                            data-id="{{ bpt.id }}"                                           

	                            class="ui compact icon button return"

	                            data-tooltip="БПТни тиклаш"

	                            data-position="bottom right">

	                            <i class="undo icon"></i>

	                        </div>

	                    </td>

			           {% endif %}

			                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	        <div class="ui segment">
	         	{% include "pagination.html" %}
	        </div>
	   	{% else %}
	    	{% include "empty.html" %}
	    {% endif %}
	</form>
</div>

<div class="ui modal" id="bpt-return">

    <i class="red close icon"></i>

    <div class="header"></div>

    <div class="content">

        <div class="centered ten wide column">

            <form class="ui form" method="post" id="form-bpt-return">

            <input type="hidden" name="function" value="returnbpt">   
            <input type="hidden" name="id" id="bptid">      
<div class="ui segment ">
                    <div class="ui top attached label">
                        <p>Умуимй маълумотлари</p> 
                    </div>                                  
                    <div class="three fields">
                        <div class="required field">
                            <label>Фамилияси</label>
                            <input type="text" name="fname" class="fname" data-form="form-bpt-return" placeholder="Фамилиясини киритинг">
                        </div>
                        <div class="required field">
                            <label>Исми</label>
                            <input type="text" name="mname" placeholder="Исмини киритинг">
                        </div>
                        <div class="field">
                            <label>Отасининг исми</label>
                            <input type="text" name="lname" placeholder="Отасининг исмини киритинг">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>Жинси</label>
                            <div class="inline fields">
                                <div class="field">
                                    <div class="ui active radio checkbox">
                                        <input type="radio" name="sex" id="male" value="1">
                                        <label>Эркак <i class="male icon"></i></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="sex" id="female" value="2">
                                        <label>Аёл <i class="female icon"></i></label>
                                    </div>
                                </div>                                          
                            </div>
                        </div>
                        <div class="required field">
                            <label>Миллати</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="nations">
                                <i class="dropdown icon"></i>
                                <div class="default text">Миллатини танланг</div>
                                <div class="menu">
	                               {% for nations in nations %}
	                                    <div class="item" data-value="{{ loop.index }}">{{ nations.name }}</div>
	                               {% endfor %}
                               </div>
                            </div>
                        </div>
                        <div class="required field">
                            <label>Туғулгна санаси</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input class="date"  name="tdate" type="text" placeholder="Туғулган санаси киритинг">
                                </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>Паспорт серияси</label>
                            <input type="text" name="passr" placeholder="Масалан: AB1234567">
                        </div>
                        <div class="required field">
                            <label>Ким томонидан берилган</label>
                            <input type="text" name="paswho" placeholder="Паспорт ким томонидан берилганлигини киритинг">
                        </div>
                        <div class="required field">
                            <label>Берилган вақти</label>
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input class="date" name="pasdate" type="text" placeholder="Паспорт берилган вақтини киритинг">
                            </div>  
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="required field">
                            <label>Маълумоти</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="education">
                                <i class="dropdown icon"></i>
                                <div class="default text">Маълумотини танланг</div>
                                <div class="menu">
	                               {% for educations in educations %}
	                                    <div class="item" data-value="{{ loop.index }}">{{ educations.name }}</div>   
	                               {% endfor %} 
                                </div>
                            </div>               
                        </div>
                        <div class="required field">
                            <label>Мутассислиги</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="profession">
                                <i class="dropdown icon"></i>
                                <div class="default text">Мутассислигини танганг</div>
                                <div class="menu">
	                               {% for professions in professions %}
	                                    <div class="item" data-value="{{ loop.index }}">{{ professions.name }}</div>
	                               {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Илмий даражаси</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="phd">
                                <i class="dropdown icon"></i>
                                <div class="default text">Илмий даражасини танланг</div>
                                <div class="menu">
                                	<div class="item" data-value="0"></div>
                               {% for phd in phd %}
                                    <div class="item" data-value="{{ loop.index }}">{{ phd.name }}</div>           
                               {% endfor %} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment ">
                    <div class="ui top attached label">
                        <p>Туғулган жойи маълумотлари</p> 
                    </div>                              
                    <div class="three fields">
                        <div class="required field">
                            <label>Республика</label>
                            <div class="ui selection dropdown res">
                                <input type="hidden" name="res" value="" data-form="form-bpt-return">
                                <i class="dropdown icon"></i>
                                <div class="default text">Республикасини танланг</div>
                                <div class="menu">
	                               {% for respublics in respublics %}
	                                    <div class="item" data-value="{{ loop.index }}">{{ respublics.name }}</div>
	                               {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="required field for_uz">
                            <label>Вилоят</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="bpr" value="">
                                <i class="dropdown icon"></i>
                                <div class="default text">Вилоятини танланг</div>
                                <div class="menu">
	                                {% for regions in regions %}
	                                    <div class="item" data-value="{{ loop.index }}">{{ regions.name }}</div>
	                               	{% endfor %}                               
                                </div>
                            </div>
                        </div>
                        <div class="required field for_other">
                            <label>Туғулган жойи маълумотлари</label>
                            <input type="text" name="bpi" placeholder="Туғулган жойи маълумотларини киритинг">
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <div class="ui segment ">   
                            <div class="ui top attached label">
                                <p>Партиявий маълумотлари</p> 
                            </div>
                            <div class="required field">
                                <label>Партияга аъзо бўлган санаси</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input class="adate" name="adate" type="text" placeholder="Аъзо бўлган санаси киритинг">
                                </div>
                            </div>                                                          
                            <div class="field">
                                <label>Партия билет рақами</label>
                                <div class="ui fluid labeled input">
                                    <div class="ui label">№</div>
                                    <input type="text" name="pnum" placeholder="Масалан: 55555">
                                </div>
                            </div>                                              
                            <div class="field">
                                <label>Депутатлиги</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="dep" data-form="form-bpt-return">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Депутатлигини танланг</div>
                                    <div class="menu">
                                        <div class="item" data-value="0"></div>
                                        <div class="item" data-value="1">Олий Мажлис депутати</div>
                                        <div class="item" data-value="2">Вилоят Кенгаши депутати</div>
                                        <div class="item" data-value="3">Туман Кенгаши депутати</div>
                                    </div>
                                </div>
                            </div>
                            <div class="required field ssana">
                                <label>Сайланган йили</label>
                                <input type="number" name="sdate" min="1995" max="2020" maxlength="4" size="4" placeholder="Масалан: 2020">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui segment">    
                            <div class="ui top attached label">
                                <p>Яшаш манзили маълумотлари</p> 
                            </div>
                            <div class="required field">
                                <label>Вилоят</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="lpr" value="" data-form="form-bpt-return">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Вилоят танганг</div>
                                    <div class="menu">
		                               {% for regions in regions %}
		                                    <div class="item" data-value="{{ loop.index }}">{{ regions.name }}</div>
		                               {% endfor %}                                     
                                    </div>                                          
                                </div>
                            </div>
                            <div class="required field">
                                <label>Туман</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="lpd">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Туман танланг</div>
                                    <div class="menu" id="lpd_item">
                                    </div>                                     
                                </div>
                            </div>                      
                            <div class="field">
                                <label>МФЙ/ҚФЙ/ШФЙ</label>
                                <input type="text" name="lpmfy" placeholder="МФЙ/ҚФЙ/ШФЙ киритинг">
                            </div>      
                            <div class="field">
                                <label>Яшаш манзили</label>
                                <input type="text" name="lpi" placeholder="Яшаш манзилини киритинг">
                            </div>                                              
                            <div class="field">
                                <label>Телефон рақами</label>
                                <div class="ui fluid labeled input">
                                    <div class="ui label">+998</div>
                                    <input type="text" name="tel" maxlength=9 size=9 placeholder="Телефон рақамини киритинг">
                                </div>
                            </div>
                            <div class="field">
                                <label>Электрон почтаси</label>
                                <input type="email" name="email" placeholder="Электрон почтани киритинг">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui segment" id="workinfo">   
                            <div class="ui top attached label">
                                <p>Меҳнат фаолияти маълумотлари</p> 
                            </div>      
                            <div class="required field">
                                <label>Фаолият соҳаси</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="activity" data-form="form-bpt-return">
                                    <i class="dropdown icon"></i>   
                                    <div class="default text">Фаолият соҳасини танланг</div>
                                    <div class="menu">
		                               {% for activity in activity %}
		                                    <div class="item" data-value="{{ loop.index }}">{{ activity.name }}</div>
		                               {% endfor %} 
                                    </div>
                                </div>
                            </div>
                            <div class="required field work">
                                <label id="worklbl">Иш жойи</label>
                                <input type="text" name="work" placeholder="Иш жойини киритинг">
                            </div>  
                            <div class="required field ll">
                                <label>Лавозим даражаси</label>
                                <div class="inline fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="ll" id="worker"  value="1">
                                            <label>Оддий ходим</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="ll" id="boss"  value="2">
                                            <label>Раҳбар</label>
                                        </div>
                                    </div>  
                                </div>                                      
                            </div>  
                            <div class="required field level">
                                <label>Лавозими</label>
                                <input type="text" name="level" placeholder="Лавозимини киритинг">
                            </div>
                            <div class="required field edulevel">
                                <label>Босқичи</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="edulevel" id="ulevel">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"></div>
                                    <div class="menu">
                                        <div class="item" data-value="1">1-босқич</div>
                                        <div class="item" data-value="2">2-босқич</div>
                                        <div class="item" data-value="3">3-босқич</div>
                                        <div class="item" data-value="4">4-босқич</div>
                                        <div class="item" data-value="5">5-босқич</div>
                                        <div class="item" data-value="6">6-босқич</div>
                                        <div class="item" data-value="7">7-босқич</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field worktel">
                                <label id="worktellbl">Телефон рақами</label>
                                <div class="ui fluid labeled input ">
                                    <div class="ui label">+998</div>
                                    <input type="text" name="worktel" maxlength=9 size=9 placeholder="Телефон рақамни киритинг">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               	<div class="ui error message"></div>

            </form>

        </div>

    </div>

    <div class="actions">

        <div class="ui deny button">Ёпиш</div>

        <div class="ui positive right labeled icon button">Қўшиш<i class="save icon"></i></div>

    </div>

    <div class="ui inverted dimmer modal_loader">

	    <div class="ui text loader">Илтимос кутинг...</div>

	</div>

</div>
{% include "footer.html" %}